:host {
	display: grid;
	place-items: center;
}

.darkMode {
	:host {
		.counter {
			color: white;
			background-color: #1A202C;
		}
	}
}

.counter {
	padding: 13rem 15rem;
	border-radius: 100%;
	font-size: 1rem;
	border-style: none;
	box-shadow: 6px 6px 4px -3px rgba(0, 0, 0, .3);
	transition: 150ms filter;
	&:hover {
		filter: brightness(.75);
	}
}
.count {
	font-size: 5rem;
}

