<div class="dropdown">
	<button id="menu-button" mat-raised-button color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
		Menu
	</button>
	<mat-menu #menu="matMenu">
	  <button mat-menu-item (click)="navigateTo('about')">About</button>
	  <button mat-menu-item (click)="navigateTo('counter')">Counter</button>
	</mat-menu>
</div>

<div class="group">
	<a class="title" (click)="navigateTo('')">
		Clark
	</a>
	<a class="link-onhover about" (click)="navigateTo('about')">
		About
	</a>
</div>

<div class="switch">
	<mat-icon>sunny</mat-icon>
	<mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
	<mat-icon>brightness_2</mat-icon>
</div>
