$dark-bg: #161616;

a:any-link {
	color: unset;
	text-decoration: none !important;
}
a:hover {
	color: inherit !important;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: $dark-bg !important;
	}
}

 /* scroll bar */

::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background-color: #555;
	border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

code {
	border-radius: 10px;
	background-color: #444 !important;
	color: white !important;
}
pre {
	background-color: #232323 !important;
	border-style: none !important;
	color: white !important;
}