@use "sass:list";

$breakpoints: 220px, 360px, 530px, 890px, 1300px;
$container-widths: 20px, 30px, 80px, 100px, 400px;

.darkMode {
	:host {
		color: white;
	}
}

@each $x in $breakpoints {
	@media screen and (min-width: $x) {	
		.container {
			margin: 1.5rem list.nth($container-widths, list.index($breakpoints, $x));
		}
	}
}

div {
	line-height: 1;
}
