<div [style]="{ fontSize: '48px', padding: '1rem 0' }">
	Welcome to my <b>GitHub Page</b>:)
</div>
<div fontSize="20px" [style]="{ lineHeight: 1.5 }">
	Hi there, I'm <b class="link-onload">Clark</b>. I build things and stuff. I love to learn and try new technologies.
</div>

<div align="center">
	<div fontSize="1rem" [style]="{marginTop:'1rem'}">Current Skills:</div>
	<div class="skills-list">
		<div *ngFor="let x of skills" class="skill">
			<img [src]="x.image" [alt]="x.alt" width="40">
			<div fontSize="1rem" class="skill-name">{{x.name}}</div>
		</div>		
	</div>
</div>

<div class="section-3">
	<div class="socmeds">
		<div *ngFor="let x of socmeds">
			<a [href]="x.link" class="socmed-link" target="_blank">
				<fa-icon [icon]="x.icon"></fa-icon>
			</a>
		</div>		
	</div>
	<div>
		{{datenow | date: 'longDate' }}
	</div>
</div>
