$font-windows: "Segoe UI", "Arial";
$font-macos: -apple-system, BlinkMacSystemFont;
$font-linux: "Cantarell", "Elephant", "Ubuntu";

$color: #0042ff;

html {
  overflow: hidden;
  color: white;
  background-image: radial-gradient($color, darken($color, 20%), darken($color, 40%));
  background-size: cover;
  background-repeat: no-repeat;
  font-family: $font-windows, $font-macos, $font-linux;
  height: 100vh;
}

#offline {
  transform: translateY(50%);
	font-size: 2rem;
}

div {
  text-align: center;
}
