$thumb-color: #58b3e7;
$thumb-color-dark: #3e4d6b;
$scrollbar-bg: white;
$scrollbar-bg-dark: #1c202a;

::-webkit-scrollbar { width: 10px; }

::-webkit-scrollbar-track, ::-webkit-scrollbar-button {
	background-color: $scrollbar-bg; 
}

::-webkit-scrollbar-thumb {
	background-color: $thumb-color;
	border-radius: 12px;
	&:hover {
		background-color: lighten($thumb-color, 10%);
	}
}

[data-theme="dark"] {
	::-webkit-scrollbar-track, ::-webkit-scrollbar-button {
		background-color: $scrollbar-bg-dark; 
	}	
	::-webkit-scrollbar-thumb {
		background-color: $thumb-color-dark;
		&:hover {
			background-color: lighten($thumb-color-dark, 25%);
		}
	}
}