@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body, #app {
	padding: 0;
	margin: 0;
	height: 100%;
}

html {
	scroll-behavior: smooth;	
}

body {
	overflow: overlay;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: hsl(237 50% 14%);
}

::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 10px;
}
