@use "transition";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@function addTrans($prop, $ms: 100ms){
	@return $prop $ms cubic-bezier(.25,.6,.85,.45);
}

html, body, #__nuxt {
	padding: 0;
	margin: 0;
	height: 100%;
}

html {
	scroll-behavior: smooth;	
}

body {
	overflow: overlay;
}

.transition {
	transition: addTrans(background-color), addTrans(color);
}

* {
	box-sizing: border-box;
}

.section-header {
	@apply ml-4 my-4 text-3xl font-medium;
}

/*.wrapper {
	display: grid;
	grid-template-rows: 1fr auto;
}*/

/*.social-item {
	transition: filter 150ms, addTrans(background-color), addTrans(color);
}
*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: hsl(237 50% 14%);
}

::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 10px;
}
