@use "sass:list";

@keyframes float-up {
  to {
    opacity: 1;
    translate: 0;
  }
  from {
    translate: 0 15px;
    opacity: 0;
  }
}

@mixin addAnimation($delay: 0ms){
  animation: float-up 150ms ease-in-out $delay 1 forwards;
}

$parts: ".top-part", ".socials", ".skills", ".datetime";

@each $x in $parts {
  $index: list.index($parts, $x) - 1;
  #{$x} {
    opacity: 0;
    @if $x == 0 {
      @include addAnimation(150ms);
    } @else {
      @include addAnimation(150ms + (300ms * $index - 1));
    }
  }
}
